{% extends "base.html" %}

{% block content %}

<h1>All Tasks List</h1>

<form method="post">
    {% csrf_token %}
    {{ search_form.as_p }}
    <button type="submit">Search</button>
</form>

<ul>
    {% for task in tasks %}
    <li>
        ({{ forloop.counter }})
        <!-- | {{ task.id }} | -->
        <a href="{% url 'task_details' task.pk %}">{{ task.title }}</a> |
        {{ task.description }} |
        {% if task.completed == True %} Completed ✅
        {% else %} Pending ❌ | {{ task.due_date }}
        {% endif %} |
        <a href="{% url 'update_todo' task.pk %}">Update</a> |
        <a href="{% url 'delete_todo' task.pk %}">Delete</a> |
    </li>
    {% endfor %}
</ul>


<a href="/tasks/?completed=1">Completed Tasks</a>
<br>
<a href="/tasks/?completed=0">Pending Tasks</a>
<br>
<a href="/tasks/">All Tasks</a>
<br>
<a href="/tasks/add/">Add Todo</a>
<br>


{% endblock %}